@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', 'sans-serif';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
